* {
  box-sizing: border-box;
}

body {
  /* Позиционирование */
  padding: 15px;
  /* Типографика */
  font-family: "Roboto", sans-serif;
  /* Оформление */
  background-color: #f4f4f4;
}

.page-wrapper {
  /* Позиционирование */
  max-width: 375px;
  margin: auto;
  /* Оформление */
  overflow: hidden;
  background: #f4f4f4;
  box-shadow: 0px 4px 30px rgba(82, 82, 82, 0.25);
  border-radius: 10px;
}

.header {
  /* Позиционирование */
  padding: 17px 61px 147px;
  /* Оформление */

  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../img/background.png") no-repeat center/cover;
  border-radius: 0px 0px 90px 90px;
}

.web-developer-wrapper {
  /* Позиционирование */
  padding-bottom: 7px;
}

.web-developer {
  /* Типографика */
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hello {
  /* Типографика */
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.container {
  max-width: 300px;
  margin: auto;
}

.user {
  /* Позиционирование */
  text-align: center;
  margin-top: -63px;
  padding-bottom: 12px;
  /* Оформление */
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.user-avatar {
  /* Позиционирование */
  object-fit: cover;
  margin-top: -37px;
  /* Оформление */
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.user-name {
  /* Типографика */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.user-description {
  /* Позиционирование */
  margin-top: -4px;
  /* Типографика */
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #4a4a4a;
}
